services:
  parking-api:
    build: 
      context: ./api
    ports:
      - "8000:8000"
    depends_on:
      - db_migration
    restart: always

  db_migration:
    build: 
      context: ./database
    depends_on:
      - db
    command: [ "python", "migrate.py" ]
  db:
    image: postgres:16
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: database
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data: